APP_NAME=report
APP_KEY=
APP_LOCALE=pt_BR
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_DEBUG=true
APP_ENV=local
APP_URL=

LOG_CHANNEL=stderr_json
LOG_LEVEL=debug

OTEL_SERVICE_NAME=soat-report
OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318
OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
OTEL_TRACES_SAMPLER=always_on
OTEL_METRICS_EXPORTER=otlp
OTEL_LOGS_EXPORTER=otlp

SESSION_DRIVER=file

TRIGGER_SERVICE_BASE_URL=http://trigger_nginx:80
TRIGGER_SERVICE_TIMEOUT=10
